/*
 
html{
    box-sizing: border-box;
}

body{
   margin: 0;
   height : 100%;
}

.banking-grid{
    display: grid;
    grid-template-areas: 'header' 'main' 'footer' ;
    grid-template-columns: 1fr ;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100vh; 

}
header{
     grid-area:'header';
     background-color: #101010;
     color: #ffffff;
     justify-items: center;
     font-size: 3rem;
     font-style: arial;
}

main{
    grid-area: 'main';
}

footer{
    grid-area: 'footer';
    background-color: #101010;
    color:#ffffff;
}

.row{
    display:flex;
    justify-content: center;
    align-items: center;
}
*/
html{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100%;
}
.banking-grid{
    display: grid;
    grid-template-areas:'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem 1fr 2.5rem;
    height: 100vh;
}

header{
    grid-area: 'header';
    background-color: black;
    color:  #ffffff;
    font-size: 1.67rem;
    font-style: arial;
   
 
}

main{
    grid-area: 'main';
}

footer{
    grid-area: 'footer';
    background-color: black;
    color: #ffffff;

    
}

.row{
    display: flex;
    justify-content: center;
     align-items: center;
}